In [2]:
#loading the dataset
import pandas as pd
import numpy as np
df=pd.read_csv("Demographics_State.csv")

(51, 9)

In [3]:
#show the first 5 rows of dataset
df.head(5)

,region,total_population,percent_white,percent_black,percent_asian,percent_hispanic,per_capita_income,median_rent,median_age
0,alabama,4799277,67,26,1,4,23680,501,38.1
1,alaska,720316,63,3,5,6,32651,978,33.6
2,arizona,6479703,57,4,3,30,25358,747,36.3
3,arkansas,2933369,74,15,1,7,22170,480,37.5
4,california,37659181,40,6,13,38,29527,1119,35.4

In [4]:
df['region']

0                  alabama
1                   alaska
2                  arizona
3                 arkansas
4               california
5                 colorado
6              connecticut
7                 delaware
8     district of columbia
9                  florida
10                 georgia
11                  hawaii
12                   idaho
13                illinois
14                 indiana
15                    iowa
16                  kansas
17                kentucky
18               louisiana
19                   maine
20                maryland
21           massachusetts
22                michigan
23               minnesota
24             mississippi
25                missouri
26                 montana
27                nebraska
28                  nevada
29           new hampshire
30              new jersey
31              new mexico
32                new york
33          north carolina
34            north dakota
35                    ohio
36                oklahoma
37                  oregon
38            pennsylvania
39            rhode island
40          south carolina
41            south dakota
42               tennessee
43                   texas
44                    utah
45                 vermont
46                virginia
47              washington
48           west virginia
49               wisconsin
50                 wyoming
Name: region, dtype: object

In [6]:
#checking the datatype of each column
df.dtypes

region                object
total_population       int64
percent_white          int64
percent_black          int64
percent_asian          int64
percent_hispanic       int64
per_capita_income      int64
median_rent            int64
median_age           float64
dtype: object